@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html,
body {
    background: lightgrey;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

#left {
	position: fixed;
	top: 0;
	width: 0;
	height: 100%;
	overflow-y: auto;
	white-space: nowrap;

    
}

#right {
	padding: 0;
	position: fixed;
	width: 100%;

    .page-body {
        //padding: 22px;

        .page-header {
            .navbar-brand {
				font-size: 23px;
				padding-top: 0;
            }
        }

        .page-content {
            padding: 0 17px;
        }
    }
}

.side-bar-open {
	#left {
		width: 70%;
	}

	#right {
		left: 70%;
	}
}

@media (min-width: 600px) {
	body {
		background: green;
	}
}